$btn-font-w: 400;

.sourceManger {
  .uploadBtn {
    padding: 6px 12px;
    border-radius: 18px;
    color: var(--white);
    background-color: var(--color-prettylights-syntax-entity-tag);

    &:hover {
      background-color: var(--color-prettylights-syntax-entity-tag);
      color: var(--white);
    }
  }

  .toolsBar {
    display: flex;
    align-items: center;

    & > * {
      margin: 0 10px 10px 0;
      height: 100%;
      padding: 6px 12px;
      border-radius: 18px;
      color: var(--white);

      &:hover {
        color: var(--white);
      }
    }
    & > :nth-child(1) {
      padding: unset;
    }
    & > :nth-child(2) {
      transform: rotateX(180deg);
      background-color: var(--color-prettylights-syntax-meta-diff-range);

      &:hover {
        background-color: var(--color-prettylights-syntax-meta-diff-range);
      }
    }

    & > :nth-child(3) {
      background-color: var(--color-prettylights-syntax-keyword);

      &:hover {
        background-color: var(--color-prettylights-syntax-keyword);
      }
    }
  }
}
